@model PaginatedList<Slider>


<div class="container">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between mb-3 ">
            <h1>Slider</h1>
            <a asp-action="create" class="btn btn-primary" style="height:60%">Create</a>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">SubTitle</th>
                        <th scope="col">Desc</th>
                        <th scope="col">BtnUrl</th>
                        <th scope="col">Image</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var slider in Model)
                    {
                        <tr>
                            <th scope="row">1</th>
                            <td>@slider.Title1</td>
                            <td>@slider.Title2</td>
                            <td>@slider.Desc1</td>
                            <td>@slider.Desc2</td>
                            <td>@slider.BtnUrl</td>
                            <td><img style="width:200px;" src="~/upload/slider/@slider.Image" /></td>
                            <td><a asp-action="edit" asp-route-id="@slider.Id" class="btn btn-warning">Edit</a></td>
                            <td><a asp-action="delete" asp-route-id="@slider.Id" class="btn btn-danger">Delete</a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (Model.PageIndex > 1)
                    {
                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="1" asp-route-isdeleted="@ViewBag.IsDeleted">@("<<")</a></li>
                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex-1)" asp-route-isdeleted="@ViewBag.IsDeleted">@("<")</a></li>
                    }
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item"><a style="background-color:@(Model.PageIndex==i?"aqua":"")" class="page-link" asp-action="index" asp-route-page="@i" asp-route-isdeleted="@ViewBag.IsDeleted">@i</a></li>
                    }
                    @if (Model.PageIndex < Model.TotalPages)
                    {
                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex+1)" asp-route-isdeleted="@ViewBag.IsDeleted">@(">")</a></li>
                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@Model.TotalPages" asp-route-isdeleted="@ViewBag.IsDeleted">@(">>")</a></li>
                    }
                </ul>
            </nav>

        </div>
    </div>
</div>